autopep8==2.0.2
flake8==6.0.0
opencv-python==4.7.0.72
tensorflow==2.11.0              	platform_system != 'Darwin'
tensorflow-macos==2.11.0;           platform_system == 'Darwin'
tensorflow-metal==0.7.1;            platform_system == 'Darwin'