levenshtein==0.27.3
mlflow==3.9.0
openai==2.15.0
opencv-python-headless==4.13.0.92
tensorflow[and-cuda]==2.20.0;       platform_system != 'Darwin'
tensorflow==2.20.0;                 platform_system == 'Darwin'